@model List<Obuka_Vojnih_Pasa.ViewModels.UserRolesViewModel>

@{
    var userId = ViewBag.userId;
}

<div class="container fadeInDown" style="padding: 30px;">
    <h1 class="font-weight-light text-center  mt-4 mb-0" style="font-size:26px;padding-top:20px">Upravljanje ulogama izabranog korisnika</h1>
    <hr class="mt-2 mb-5">
    <form method="post">
        <div class="carda">

            <div class="card-body">
                @for (int i = 0; i < Model.Count; i++)
                {


                    <div class="form-row">

                        <div class="form-group col-1">
                            <input type="hidden" asp-for="@Model[i].RoleId" />
                            <input type="hidden" asp-for="@Model[i].RoleName" />
                        </div>
                        <div class="form-group col-1" style="padding-top:2px">
                            <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                        </div>
                        <div class="form-group col-6">
                            <label class="form-check-label" asp-for="@Model[i].IsSelected">
                                <strong style="color:darkviolet"> @Model[i].RoleName</strong>
                            </label>

                        </div>

                    </div>






                }
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <div class="card-footer">
                <input type="submit" value="Sačuvaj izmene" class="btn btn-primary btn_admin"
                       style="width:auto" />
                <a asp-action="EditUser" asp-route-id="@userId"
                   class="btn btn-primary btn_admin ml-2" style="width:auto">Otkaži</a>
            </div>
        </div>
    </form>
    </div>
    <link href="~/content/site.css" rel="stylesheet" />
