@using Obuka_Vojnih_Pasa.Models.Domain;
@model IEnumerable<Obuka_Vojnih_Pasa.Models.Domain.Angazovanje>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService
@inject UserManager<ApplicationUser> userManager
<link href="~/lib/sortable/Contents/bootstrap-sortable.css" rel="stylesheet" />

@{Instruktor instruktor = null; }
@{
    @if (!User.IsInRole("Admin"))
        instruktor = await userManager.FindByIdAsync(userManager.GetUserId(User)) as Instruktor;
}

@if (Model.Count() == 0)
{
    <h3>Nije pronađeno nijedano angažovanje po unetom kriterijumu pretrage.</h3>
}
else
{
    <div id="scroll">
        <table class="table sortable" id="l">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        Pas
                    </th>
                    <th>
                        Naziv zadatka
                    </th>
                    <th style="width:200px">
                        Datum realizacije zadatka
                    </th>
                    <th>
                        Datum unosa ocene
                    </th>
                    <th>
                        Ocena
                    </th>

                    <th style="padding-left:30px">
                        Akcije
                    </th>


                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Statistika" asp-controller="Pas" asp-route-id="@item.PasId">   <i class="fas fa-paw" style="color:snow"></i> </a>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pas.Ime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Zadatak.NazivZadatka)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Zadatak.Datum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatumUnosaOcene)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ocena)
                        </td>

                        @{
                            var parms = new Dictionary<string, string>
                                                                                        {
                { "PasId",item.PasId.ToString() },
                { "ZadatakId",item.ZadatakId.ToString() }
                        };
                        }
                        @if (item.Zadatak.Status.Equals("Ocenjen"))
                        {
                            @if ((instruktor != null && item.Pas.ObukaId == instruktor.ObukaId) || User.IsInRole("Admin"))
                            {
                                <td>
                                    <a asp-action="Edit" asp-controller="Angazovanje" asp-all-route-data="parms" title="Izmeni podatke o angažovanju"><i class=" fas fa-pencil-alt" style="color:snow;margin-left:20px"></i></a>

                                    @if ((await authorizationService.AuthorizeAsync(User, "AngazovanjePolicy")).Succeeded)
                                    {
                                        <a asp-action="Delete" asp-controller="Angazovanje" asp-all-route-data="parms" title="Obriši podatke o angažovanju"><i class=" fas fa-trash-alt" style="color:snow;margin-left:20px"></i></a>
                                    }
                                </td>

                            }
                            else
                            {
                                <td>
                                    <i class="fas fa-user-alt-slash" style="color:snow;margin-left:20px" title="Nemate dozvolu za pristup ovoj opciji"></i>
                                </td>
                            }
                        }
                        else
                        {
                            <td><i class="fa fa-history"> Ocenjivanje u toku...</i></td>
                        }
                    </tr>
                }

            </tbody>
        </table>
    </div>

}

<link href="~/content/site.css" rel="stylesheet" />
<script src="~/lib/sortable/Scripts/bootstrap-sortable.js"></script>
<script src="~/lib/sortable/Scripts/moment.min.js"></script>